html,body {
  height: 100%;
  width: 100%;
}
.home-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background: linear-gradient(to right, rgb(159 253 121 / 67%), rgba(0, 255, 0, 0))
}